<div class="page__wrapper">
  <%- include('./partials/header.ejs', {title: 'Blogs', user: locals.user}) %>

  <div class="blogs__container">
    <h3>
      All <% if(locals.category){ %> <%= locals.category.charAt(0).toUpperCase()
      + locals.category.slice(1) %> <% } %> Blogs (<%= locals.blogs.length %>)
    </h3>
    <div class="blogs">
      <% locals.blogs.forEach(blog => { %> <%-
      include('./partials/blogCard.ejs', { blog }) %> <% }); %>
    </div>
  </div>

  <%- include('./partials/footer.ejs') %>
</div>
