<div class="page__wrapper">
  <%- include('./partials/header.ejs', {title: locals.blog.title, user:
  locals.user}) %>
  <div class="blog__details__container">
    <div class="blog__details">
      <form action="/bookmarks" method="post" class="bookmark__form">
        <input type="hidden" name="blogId" value="<%= locals.blog._id %>" />
        <button type="submit">
          <i class="fa-solid fa-bookmark"></i> Bookmark
        </button>
      </form>
      <img src="<%= locals.blog.thumbnail %>" alt="thumbnail" loading="lazy" class="blog__thumbnail"/>
      <h4 class="blog__title"><%= locals.blog.title %></h4>
      <div class="blog__content"><%- locals.blog.content %></div>
      <small><strong>Category :</strong> <%= locals.blog.category.charAt(0).toUpperCase() + locals.blog.category.slice(1)%></small>
      <small>
        <strong>Last updated :</strong>
        <%= new Date(locals.blog.updatedAt).toLocaleString() %></small
      >
      <small><strong>Author :</strong> <%= locals.blog.author.name %></small>
      
      <div class="share__btn">
        <i class="fa-regular fa-share-from-square"></i>
        Share
      </div>
    </div>

    <div class="comment__details">
      <h5>Comments (<%= locals.comments.length %>)</h5>
      <% locals.comments.forEach(pcomment => { %>
      <div class="comment">
        <div class="comment__user__img">
          <img src="<%= pcomment.userId.dp %>" alt="user" />
        </div>
        <div class="comment__user__text">
          <div class="comment__user">
            <%= pcomment.userId.name %><em
              ><%= new Date(pcomment.updatedAt).toLocaleString() %></em
            >
          </div>
          <div class="comment__text"><%= pcomment.comment %></div>
        </div>
      </div>
      <% }) %>
    </div>

    <% if(locals.user){ %>
    <div class="comment__form">
      <form action="/comments" method="post">
        <label for="comment">Write your comment</label>
        <textarea
          name="comment"
          rows="1"
          required
          placeholder="Write your comment..."
        ></textarea>
        <input type="hidden" name="blogId" value="<%= blog._id %>" />
        <button type="submit">Post Comment</button>
      </form>
    </div>
    <% } %>

    
  </div>
  <%- include('./partials/footer.ejs') %>
</div>
