<%- include('./partials/header.ejs', {title: 'Blogs', user: locals.user}) %>

<div class="blogs">
  <% locals.blogs.forEach(blog => { %>
    <div class="blog">
      <img src="<%= blog.thumbnail %>" alt="thumbnail"/>
      <h4><%= blog.title %></h4>
      <p><%= blog.content %></p>
      <a href="/blogs/<%= blog._id%>">Read Blog</a>
    </div>
    <% }); %>
</div>


<%- include('./partials/footer.ejs') %>
