<div class="page__wrapper">
  <%- include('./partials/header.ejs', {title: 'Dashboard', user: locals.user}) %>

<div class="dashboard__container">
  <h3>Blogs Published (<%= locals.blogs.length %>)</h3>
  <div class="blogs">
    <% locals.blogs.forEach(blog => { %>
    <div class="blog">
      <img src="<%= blog.thumbnail %>" alt="thumbnail" />
      <small class="category"><%= blog.category %></small>
      <h4><%= blog.title %></h4>
      <small class="author"
        ><strong>Author :</strong> <%= blog.author.name %></small
      >
      <a href="/blogs/<%= blog._id%>">Read Blog</a>
      <small
        >Posted on : <%= new Date(blog.createdAt).toLocaleString() %></small
      >
    </div>
    <% }); %>
  </div>
</div>

<%- include('./partials/footer.ejs') %>

</div>