<div class="blog">
  <% if(locals.type === "admin"){ %>
  <form
    action="/blogs/<%= blog._id %>?_method=DELETE"
    method="POST"
    onsubmit="return confirm('Are you sure you want to delete this blog post?');"
    class="delete__form"
    title="Delete"
  >
    <button type="submit"><i class="fa-solid fa-trash"></i></button>
  </form>
  <% } else{ %>
  <form
    action="/bookmarks"
    method="post"
    class="bookmark__form__2"
    title="Bookmark"
  >
    <input type="hidden" name="blogId" value="<%= blog._id %>" />
    <button type="submit"><i class="fa-solid fa-bookmark"></i></button>
  </form>
  <% } %>
  <img src="<%= blog.thumbnail %>" alt="thumbnail" loading="lazy"/>
  <small class="blog__category"
    ><%= blog.category.charAt(0).toUpperCase() + blog.category.slice(1)
    %></small
  >
  <h4><%= blog.title %></h4>
  <small class="author"
    ><strong>Author :</strong> <%= blog.author.name %></small
  >
  <a href="/blogs/<%= blog._id%>">Read Blog</a>
  <small>Posted on : <%= new Date(blog.createdAt).toLocaleString() %></small>
</div>
